<tiptap-editor [editor]="editor" class="max-w-[700px] mx-auto pt-16 prose prose-invert prose-violet"></tiptap-editor>
<tiptap-bubble-menu [editor]="editor" class="bg-zinc-700 shadow-xl border border-zinc-600 shadow-black/20 rounded-lg overflow-hidden flex divide-x divide-x-zinc-600">
  <button class="p-2 text-zinc-200 text-sm flex items-center gap-1.5 font-medium leading-none hover:text-zinc-50 hover:bg-zinc-600" (click)="editor.chain().focus().toggleBold().run()">
    <lucide-icon name="bold" class="w-4 h-4"></lucide-icon>
  </button>
  <button class="p-2 text-zinc-200 text-sm flex items-center gap-1.5 font-medium leading-none hover:text-zinc-50 hover:bg-zinc-600" (click)="editor.chain().focus().toggleItalic().run()">
    <lucide-icon name="italic" class="w-4 h-4"></lucide-icon>
  </button>
  <button class="p-2 text-zinc-200 text-sm flex items-center gap-1.5 font-medium leading-none hover:text-zinc-50 hover:bg-zinc-600" (click)="editor.chain().focus().toggleStrike().run()">
    <lucide-icon name="strikethrough" class="w-4 h-4"></lucide-icon>
  </button>
</tiptap-bubble-menu>
